openapi: 3.0.3
info:
    title: https://analytix.com - Discovered API
    description: Auto-generated by APIHunter
    version: discovered-2026-01-17
servers:
    - url: https://analytix.com
paths:
    /:
        get:
            tags:
                - s
            summary: GET / (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - s
            summary: POST / (inferred)
            responses:
                "200":
                    description: Success
    /.well-known/ai-plugin.json:
        get:
            tags:
                - .Well-Knowns
            summary: GET /.well-known/ai-plugin.json (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - .Well-Knowns
            summary: POST /.well-known/ai-plugin.json (inferred)
            responses:
                "200":
                    description: Success
    /.well-known/assetlinks.json:
        get:
            tags:
                - .Well-Knowns
            summary: GET /.well-known/assetlinks.json (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - .Well-Knowns
            summary: POST /.well-known/assetlinks.json (inferred)
            responses:
                "200":
                    description: Success
    /.well-known/dnt-policy.txt:
        get:
            tags:
                - .Well-Knowns
            summary: GET /.well-known/dnt-policy.txt (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - .Well-Knowns
            summary: POST /.well-known/dnt-policy.txt (inferred)
            responses:
                "200":
                    description: Success
    /.well-known/gpc.json:
        get:
            tags:
                - .Well-Knowns
            summary: GET /.well-known/gpc.json (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - .Well-Knowns
            summary: POST /.well-known/gpc.json (inferred)
            responses:
                "200":
                    description: Success
    /.well-known/nodeinfo:
        get:
            tags:
                - .Well-Knowns
            summary: GET /.well-known/nodeinfo (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - .Well-Knowns
            summary: POST /.well-known/nodeinfo (inferred)
            responses:
                "200":
                    description: Success
    /.well-known/openid-configuration:
        get:
            tags:
                - .Well-Knowns
            summary: GET /.well-known/openid-configuration (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - .Well-Knowns
            summary: POST /.well-known/openid-configuration (inferred)
            responses:
                "200":
                    description: Success
    /.well-known/security.txt:
        get:
            tags:
                - .Well-Knowns
            summary: GET /.well-known/security.txt (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - .Well-Knowns
            summary: POST /.well-known/security.txt (inferred)
            responses:
                "200":
                    description: Success
    /.well-known/trust.txt:
        get:
            tags:
                - .Well-Knowns
            summary: GET /.well-known/trust.txt (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - .Well-Knowns
            summary: POST /.well-known/trust.txt (inferred)
            responses:
                "200":
                    description: Success
    /5-benefits-hiring-virtual-assistant-services/:
        get:
            tags:
                - 5-Benefits-Hiring-Virtual-Assistant-Services
            summary: GET /5-benefits-hiring-virtual-assistant-services/ (inferred)
            parameters:
                - name: hss_channel
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_campaign
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_content
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_medium
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_source
                  in: query
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
        post:
            tags:
                - 5-Benefits-Hiring-Virtual-Assistant-Services
            summary: POST /5-benefits-hiring-virtual-assistant-services/ (inferred)
            parameters:
                - name: hss_channel
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_campaign
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_content
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_medium
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_source
                  in: query
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
    /5-things-to-know-about-hiring-a-virtual-assistant/:
        get:
            tags:
                - 5-Things-To-Know-About-Hiring-A-Virtual-Assistants
            summary: GET /5-things-to-know-about-hiring-a-virtual-assistant/ (inferred)
            parameters:
                - name: hss_channel
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_medium
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_source
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_campaign
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_content
                  in: query
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
        post:
            tags:
                - 5-Things-To-Know-About-Hiring-A-Virtual-Assistants
            summary: POST /5-things-to-know-about-hiring-a-virtual-assistant/ (inferred)
            parameters:
                - name: hss_channel
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_medium
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_source
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_campaign
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_content
                  in: query
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
    /6-benefits-of-outsourcing-to-elevate-your-business-with-linkedin-list-building/:
        get:
            tags:
                - 6-Benefits-Of-Outsourcing-To-Elevate-Your-Business-With-Linkedin-List-Buildings
            summary: GET /6-benefits-of-outsourcing-to-elevate-your-business-with-linkedin-list-building/ (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - 6-Benefits-Of-Outsourcing-To-Elevate-Your-Business-With-Linkedin-List-Buildings
            summary: POST /6-benefits-of-outsourcing-to-elevate-your-business-with-linkedin-list-building/ (inferred)
            responses:
                "200":
                    description: Success
    /7-in-demand-va-skills-in-2024/:
        get:
            tags:
                - 7-In-Demand-Va-Skills-In-2024s
            summary: GET /7-in-demand-va-skills-in-2024/ (inferred)
            parameters:
                - name: hss_channel
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_campaign
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_content
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_medium
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_source
                  in: query
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
        post:
            tags:
                - 7-In-Demand-Va-Skills-In-2024s
            summary: POST /7-in-demand-va-skills-in-2024/ (inferred)
            parameters:
                - name: hss_channel
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_campaign
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_content
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_medium
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_source
                  in: query
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
    /7-questions-before-hiring-virtual-assistant/:
        get:
            tags:
                - 7-Questions-Before-Hiring-Virtual-Assistants
            summary: GET /7-questions-before-hiring-virtual-assistant/ (inferred)
            parameters:
                - name: hss_channel
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_content
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_medium
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_source
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_campaign
                  in: query
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
        post:
            tags:
                - 7-Questions-Before-Hiring-Virtual-Assistants
            summary: POST /7-questions-before-hiring-virtual-assistant/ (inferred)
            parameters:
                - name: hss_channel
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_content
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_medium
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_source
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_campaign
                  in: query
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
    /8-steps-for-effective-collaboration-with-an-offshore-consultant/:
        get:
            tags:
                - 8-Steps-For-Effective-Collaboration-With-An-Offshore-Consultants
            summary: GET /8-steps-for-effective-collaboration-with-an-offshore-consultant/ (inferred)
            parameters:
                - name: hss_channel
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_medium
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_source
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_campaign
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_content
                  in: query
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
        post:
            tags:
                - 8-Steps-For-Effective-Collaboration-With-An-Offshore-Consultants
            summary: POST /8-steps-for-effective-collaboration-with-an-offshore-consultant/ (inferred)
            parameters:
                - name: hss_channel
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_medium
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_source
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_campaign
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_content
                  in: query
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
    /9-ways-virtual-assistant-can-help-grow-business/:
        get:
            tags:
                - 9-Ways-Virtual-Assistant-Can-Help-Grow-Business
            summary: GET /9-ways-virtual-assistant-can-help-grow-business/ (inferred)
            parameters:
                - name: hss_channel
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_medium
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_source
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_campaign
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_content
                  in: query
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
        post:
            tags:
                - 9-Ways-Virtual-Assistant-Can-Help-Grow-Business
            summary: POST /9-ways-virtual-assistant-can-help-grow-business/ (inferred)
            parameters:
                - name: hss_channel
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_medium
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_source
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_campaign
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_content
                  in: query
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
    /10-tasks-can-outsource-virtual-assistants/:
        get:
            tags:
                - 10-Tasks-Can-Outsource-Virtual-Assistants
            summary: GET /10-tasks-can-outsource-virtual-assistants/ (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - 10-Tasks-Can-Outsource-Virtual-Assistants
            summary: POST /10-tasks-can-outsource-virtual-assistants/ (inferred)
            responses:
                "200":
                    description: Success
    /52-unit-dunkin-franchise-owner-implements-game-changing-accounting-solution/:
        get:
            tags:
                - 52-Unit-Dunkin-Franchise-Owner-Implements-Game-Changing-Accounting-Solutions
            summary: GET /52-unit-dunkin-franchise-owner-implements-game-changing-accounting-solution/ (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - 52-Unit-Dunkin-Franchise-Owner-Implements-Game-Changing-Accounting-Solutions
            summary: POST /52-unit-dunkin-franchise-owner-implements-game-changing-accounting-solution/ (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/9512.html:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/9512.html (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/9512.html (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/9601.html:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/9601.html (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/9601.html (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/9602.html:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/9602.html (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/9602.html (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/9603.html:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/9603.html (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/9603.html (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/9604.html:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/9604.html (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/9604.html (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/9605.html:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/9605.html (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/9605.html (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/9606.html:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/9606.html (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/9606.html (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/9607.html:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/9607.html (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/9607.html (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/balanced.html:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/balanced.html (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/balanced.html (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/bank.html:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/bank.html (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/bank.html (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/cad.html:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/cad.html (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/cad.html (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/corp.htm:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/corp.htm (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/corp.htm (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/corp.html:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/corp.html (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/corp.html (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/discret.html:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/discret.html (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/discret.html (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/index.htm:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/index.htm (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/index.htm (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/index.html:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/index.html (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/index.html (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/invest.html:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/invest.html (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/invest.html (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/ltdpart.html:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/ltdpart.html (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/ltdpart.html (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/mining.html:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/mining.html (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/mining.html (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/newsltr.htm:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/newsltr.htm (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/newsltr.htm (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/newsltr.html:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/newsltr.html (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/newsltr.html (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/products.html:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/products.html (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/products.html (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/results.html:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/results.html (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/results.html (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/smartbase.html:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/smartbase.html (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/smartbase.html (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/spine.gif:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/spine.gif (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/spine.gif (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/subscribe.html:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/subscribe.html (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/subscribe.html (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/tech.html:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/tech.html (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/tech.html (inferred)
            responses:
                "200":
                    description: Success
    /AIWEB/wizard.html:
        get:
            tags:
                - AIWEBs
            summary: GET /AIWEB/wizard.html (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - AIWEBs
            summary: POST /AIWEB/wizard.html (inferred)
            responses:
                "200":
                    description: Success
    /Analytix/:
        get:
            tags:
                - Analytixs
            summary: GET /Analytix/ (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Analytixs
            summary: POST /Analytix/ (inferred)
            responses:
                "200":
                    description: Success
    /Chrome/{ChromeId}:
        delete:
            tags:
                - Chromes
            summary: DELETE /Chrome/{ChromeId} (inferred)
            parameters:
                - name: ChromeId
                  in: path
                  required: true
                  schema:
                    type: integer
            responses:
                "200":
                    description: Success
        get:
            tags:
                - Chromes
            summary: GET /Chrome/{ChromeId} (inferred)
            parameters:
                - name: ChromeId
                  in: path
                  required: true
                  schema:
                    type: integer
            responses:
                "200":
                    description: Success
        patch:
            tags:
                - Chromes
            summary: PATCH /Chrome/{ChromeId} (inferred)
            parameters:
                - name: ChromeId
                  in: path
                  required: true
                  schema:
                    type: integer
            responses:
                "200":
                    description: Success
        put:
            tags:
                - Chromes
            summary: PUT /Chrome/{ChromeId} (inferred)
            parameters:
                - name: ChromeId
                  in: path
                  required: true
                  schema:
                    type: integer
            responses:
                "200":
                    description: Success
    /Microsoft.XMLDOM:
        get:
            tags:
                - Microsoft.XMLDOMs
            summary: GET /Microsoft.XMLDOM (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Microsoft.XMLDOMs
            summary: POST /Microsoft.XMLDOM (inferred)
            responses:
                "200":
                    description: Success
    /Microsoft.XMLHTTP:
        get:
            tags:
                - Microsoft.XMLHTTPs
            summary: GET /Microsoft.XMLHTTP (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Microsoft.XMLHTTPs
            summary: POST /Microsoft.XMLHTTP (inferred)
            responses:
                "200":
                    description: Success
    /Shout_1.gif:
        get:
            tags:
                - Shout_1.Gifs
            summary: GET /Shout_1.gif (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Shout_1.Gifs
            summary: POST /Shout_1.gif (inferred)
            responses:
                "200":
                    description: Success
    /a:
        get:
            tags:
                - As
            summary: GET /a (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - As
            summary: POST /a (inferred)
            responses:
                "200":
                    description: Success
    /a/b:
        get:
            tags:
                - As
            summary: GET /a/b (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - As
            summary: POST /a/b (inferred)
            responses:
                "200":
                    description: Success
    /a/i:
        get:
            tags:
                - As
            summary: GET /a/i (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - As
            summary: POST /a/i (inferred)
            responses:
                "200":
                    description: Success
    /about:
        get:
            tags:
                - Abouts
            summary: GET /about (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Abouts
            summary: POST /about (inferred)
            responses:
                "200":
                    description: Success
    /about-us/:
        get:
            tags:
                - About-Us
            summary: GET /about-us/ (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - About-Us
            summary: POST /about-us/ (inferred)
            responses:
                "200":
                    description: Success
    /accelerating-business-transformation-through-strategic-consulting/:
        get:
            tags:
                - Accelerating-Business-Transformation-Through-Strategic-Consultings
            summary: GET /accelerating-business-transformation-through-strategic-consulting/ (inferred)
            parameters:
                - name: hss_channel
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_content
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_medium
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_source
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_campaign
                  in: query
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Accelerating-Business-Transformation-Through-Strategic-Consultings
            summary: POST /accelerating-business-transformation-through-strategic-consulting/ (inferred)
            parameters:
                - name: hss_channel
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_content
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_medium
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_source
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_campaign
                  in: query
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
    /adapt-to-thrive-the-power-of-workforce-transformation/:
        get:
            tags:
                - Adapt-To-Thrive-The-Power-Of-Workforce-Transformations
            summary: GET /adapt-to-thrive-the-power-of-workforce-transformation/ (inferred)
            parameters:
                - name: hss_channel
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_source
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_campaign
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_content
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_medium
                  in: query
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Adapt-To-Thrive-The-Power-Of-Workforce-Transformations
            summary: POST /adapt-to-thrive-the-power-of-workforce-transformation/ (inferred)
            parameters:
                - name: hss_channel
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_source
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_campaign
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_content
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_medium
                  in: query
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
    /ads.txt:
        get:
            tags:
                - Ads.Txts
            summary: GET /ads.txt (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Ads.Txts
            summary: POST /ads.txt (inferred)
            responses:
                "200":
                    description: Success
    /analytix-solutions-covid-19-response/:
        get:
            tags:
                - Analytix-Solutions-Covid-19-Responses
            summary: GET /analytix-solutions-covid-19-response/ (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Analytix-Solutions-Covid-19-Responses
            summary: POST /analytix-solutions-covid-19-response/ (inferred)
            responses:
                "200":
                    description: Success
    /app-ads.txt:
        get:
            tags:
                - App-Ads.Txts
            summary: GET /app-ads.txt (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - App-Ads.Txts
            summary: POST /app-ads.txt (inferred)
            responses:
                "200":
                    description: Success
    /atom.xml:
        get:
            tags:
                - Atom.Xmls
            summary: GET /atom.xml (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Atom.Xmls
            summary: POST /atom.xml (inferred)
            responses:
                "200":
                    description: Success
    /author/aix-career/:
        get:
            tags:
                - Authors
                - auth
            summary: GET /author/aix-career/ (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Authors
                - auth
            summary: POST /author/aix-career/ (inferred)
            responses:
                "200":
                    description: Success
    /author/aixsa/:
        get:
            tags:
                - Authors
                - auth
            summary: GET /author/aixsa/ (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Authors
                - auth
            summary: POST /author/aixsa/ (inferred)
            responses:
                "200":
                    description: Success
    /author/aixsolmktgteam/:
        get:
            tags:
                - Authors
                - auth
            summary: GET /author/aixsolmktgteam/ (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Authors
                - auth
            summary: POST /author/aixsolmktgteam/ (inferred)
            responses:
                "200":
                    description: Success
    /author/aixsolmktgteam/page/{pageId}:
        delete:
            tags:
                - Authors
                - auth
            summary: DELETE /author/aixsolmktgteam/page/{pageId} (inferred)
            parameters:
                - name: pageId
                  in: path
                  required: true
                  schema:
                    type: integer
            responses:
                "200":
                    description: Success
        get:
            tags:
                - Authors
                - auth
            summary: GET /author/aixsolmktgteam/page/{pageId} (inferred)
            parameters:
                - name: pageId
                  in: path
                  required: true
                  schema:
                    type: integer
            responses:
                "200":
                    description: Success
        patch:
            tags:
                - Authors
                - auth
            summary: PATCH /author/aixsolmktgteam/page/{pageId} (inferred)
            parameters:
                - name: pageId
                  in: path
                  required: true
                  schema:
                    type: integer
            responses:
                "200":
                    description: Success
        put:
            tags:
                - Authors
                - auth
            summary: PUT /author/aixsolmktgteam/page/{pageId} (inferred)
            parameters:
                - name: pageId
                  in: path
                  required: true
                  schema:
                    type: integer
            responses:
                "200":
                    description: Success
    /authors/analytix-editorial-team:
        get:
            tags:
                - Authors
                - auth
            summary: GET /authors/analytix-editorial-team (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Authors
                - auth
            summary: POST /authors/analytix-editorial-team (inferred)
            responses:
                "200":
                    description: Success
    /batch/v1:
        get:
            tags:
                - Batchs
            summary: GET /batch/v1 (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Batchs
            summary: POST /batch/v1 (inferred)
            responses:
                "200":
                    description: Success
    /beforeactivate._change:
        get:
            tags:
                - Beforeactivate._changes
            summary: GET /beforeactivate._change (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Beforeactivate._changes
            summary: POST /beforeactivate._change (inferred)
            responses:
                "200":
                    description: Success
    /benefits-key-components-of-digital-transformation/:
        get:
            tags:
                - Benefits-Key-Components-Of-Digital-Transformations
            summary: GET /benefits-key-components-of-digital-transformation/ (inferred)
            parameters:
                - name: hss_channel
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_campaign
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_content
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_medium
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_source
                  in: query
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Benefits-Key-Components-Of-Digital-Transformations
            summary: POST /benefits-key-components-of-digital-transformation/ (inferred)
            parameters:
                - name: hss_channel
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_campaign
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_content
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_medium
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_source
                  in: query
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
    /benefits-of-platform-business-model-for-businesses/:
        get:
            tags:
                - Benefits-Of-Platform-Business-Model-For-Businesses
            summary: GET /benefits-of-platform-business-model-for-businesses/ (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Benefits-Of-Platform-Business-Model-For-Businesses
            summary: POST /benefits-of-platform-business-model-for-businesses/ (inferred)
            responses:
                "200":
                    description: Success
    /blog.php:
        get:
            tags:
                - Blog.Phps
            summary: GET /blog.php (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blog.Phps
            summary: POST /blog.php (inferred)
            responses:
                "200":
                    description: Success
    /blog/:
        get:
            tags:
                - Blogs
            summary: GET /blog/ (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/ (inferred)
            responses:
                "200":
                    description: Success
    /blog/5-benefits-hiring-virtual-assistant-services:
        get:
            tags:
                - Blogs
            summary: GET /blog/5-benefits-hiring-virtual-assistant-services (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/5-benefits-hiring-virtual-assistant-services (inferred)
            responses:
                "200":
                    description: Success
    /blog/5-things-to-know-about-hiring-a-virtual-assistant:
        get:
            tags:
                - Blogs
            summary: GET /blog/5-things-to-know-about-hiring-a-virtual-assistant (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/5-things-to-know-about-hiring-a-virtual-assistant (inferred)
            responses:
                "200":
                    description: Success
    /blog/6-benefits-of-outsourcing-to-elevate-your-business-with-linkedin-list-building:
        get:
            tags:
                - Blogs
            summary: GET /blog/6-benefits-of-outsourcing-to-elevate-your-business-with-linkedin-list-building (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/6-benefits-of-outsourcing-to-elevate-your-business-with-linkedin-list-building (inferred)
            responses:
                "200":
                    description: Success
    /blog/7-in-demand-va-skills-in-2024:
        get:
            tags:
                - Blogs
            summary: GET /blog/7-in-demand-va-skills-in-2024 (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/7-in-demand-va-skills-in-2024 (inferred)
            responses:
                "200":
                    description: Success
    /blog/7-questions-before-hiring-virtual-assistant:
        get:
            tags:
                - Blogs
            summary: GET /blog/7-questions-before-hiring-virtual-assistant (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/7-questions-before-hiring-virtual-assistant (inferred)
            responses:
                "200":
                    description: Success
    /blog/8-steps-for-effective-collaboration-with-an-offshore-consultant:
        get:
            tags:
                - Blogs
            summary: GET /blog/8-steps-for-effective-collaboration-with-an-offshore-consultant (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/8-steps-for-effective-collaboration-with-an-offshore-consultant (inferred)
            responses:
                "200":
                    description: Success
    /blog/9-ways-virtual-assistant-can-help-grow-business:
        get:
            tags:
                - Blogs
            summary: GET /blog/9-ways-virtual-assistant-can-help-grow-business (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/9-ways-virtual-assistant-can-help-grow-business (inferred)
            responses:
                "200":
                    description: Success
    /blog/10-tasks-can-outsource-virtual-assistants:
        get:
            tags:
                - Blogs
            summary: GET /blog/10-tasks-can-outsource-virtual-assistants (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/10-tasks-can-outsource-virtual-assistants (inferred)
            responses:
                "200":
                    description: Success
    /blog/52-unit-dunkin-franchise-owner-implements-game-changing-accounting-solution:
        get:
            tags:
                - Blogs
            summary: GET /blog/52-unit-dunkin-franchise-owner-implements-game-changing-accounting-solution (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/52-unit-dunkin-franchise-owner-implements-game-changing-accounting-solution (inferred)
            responses:
                "200":
                    description: Success
    /blog/accelerating-business-transformation-through-strategic-consulting:
        get:
            tags:
                - Blogs
            summary: GET /blog/accelerating-business-transformation-through-strategic-consulting (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/accelerating-business-transformation-through-strategic-consulting (inferred)
            responses:
                "200":
                    description: Success
    /blog/adapt-to-thrive-the-power-of-workforce-transformation:
        get:
            tags:
                - Blogs
            summary: GET /blog/adapt-to-thrive-the-power-of-workforce-transformation (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/adapt-to-thrive-the-power-of-workforce-transformation (inferred)
            responses:
                "200":
                    description: Success
    /blog/benefits-key-components-of-digital-transformation:
        get:
            tags:
                - Blogs
            summary: GET /blog/benefits-key-components-of-digital-transformation (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/benefits-key-components-of-digital-transformation (inferred)
            responses:
                "200":
                    description: Success
    /blog/benefits-of-custom-software-development:
        get:
            tags:
                - Blogs
            summary: GET /blog/benefits-of-custom-software-development (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/benefits-of-custom-software-development (inferred)
            responses:
                "200":
                    description: Success
    /blog/benefits-of-platform-business-model-for-businesses:
        get:
            tags:
                - Blogs
            summary: GET /blog/benefits-of-platform-business-model-for-businesses (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/benefits-of-platform-business-model-for-businesses (inferred)
            responses:
                "200":
                    description: Success
    /blog/building-a-resilient-business-lessons-from-crisis-management-consulting:
        get:
            tags:
                - Blogs
            summary: GET /blog/building-a-resilient-business-lessons-from-crisis-management-consulting (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/building-a-resilient-business-lessons-from-crisis-management-consulting (inferred)
            responses:
                "200":
                    description: Success
    /blog/calendar-management-services-with-virtual-assistant:
        get:
            tags:
                - Blogs
            summary: GET /blog/calendar-management-services-with-virtual-assistant (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/calendar-management-services-with-virtual-assistant (inferred)
            responses:
                "200":
                    description: Success
    /blog/creating-a-customer-centric-culture-key-to-transforming-customer-experience:
        get:
            tags:
                - Blogs
            summary: GET /blog/creating-a-customer-centric-culture-key-to-transforming-customer-experience (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/creating-a-customer-centric-culture-key-to-transforming-customer-experience (inferred)
            responses:
                "200":
                    description: Success
    /blog/cybersecurity-transformation:
        get:
            tags:
                - Blogs
            summary: GET /blog/cybersecurity-transformation (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/cybersecurity-transformation (inferred)
            responses:
                "200":
                    description: Success
    /blog/embracing-digital-transformation-for-a-competitive-advantage:
        get:
            tags:
                - Blogs
            summary: GET /blog/embracing-digital-transformation-for-a-competitive-advantage (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/embracing-digital-transformation-for-a-competitive-advantage (inferred)
            responses:
                "200":
                    description: Success
    /blog/employee-retention-strategies:
        get:
            tags:
                - Blogs
            summary: GET /blog/employee-retention-strategies (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/employee-retention-strategies (inferred)
            responses:
                "200":
                    description: Success
    /blog/empowering-your-small-business-with-remote-virtual-assistants:
        get:
            tags:
                - Blogs
            summary: GET /blog/empowering-your-small-business-with-remote-virtual-assistants (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/empowering-your-small-business-with-remote-virtual-assistants (inferred)
            responses:
                "200":
                    description: Success
    /blog/expanding-business-horizons-with-automation-as-a-service:
        get:
            tags:
                - Blogs
            summary: GET /blog/expanding-business-horizons-with-automation-as-a-service (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/expanding-business-horizons-with-automation-as-a-service (inferred)
            responses:
                "200":
                    description: Success
    /blog/guide-for-onshore-consulting-agencies-to-collaborate-with-offshore-consultants:
        get:
            tags:
                - Blogs
            summary: GET /blog/guide-for-onshore-consulting-agencies-to-collaborate-with-offshore-consultants (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/guide-for-onshore-consulting-agencies-to-collaborate-with-offshore-consultants (inferred)
            responses:
                "200":
                    description: Success
    /blog/hire-virtual-business-travel-planner-for-travel-needs:
        get:
            tags:
                - Blogs
            summary: GET /blog/hire-virtual-business-travel-planner-for-travel-needs (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/hire-virtual-business-travel-planner-for-travel-needs (inferred)
            responses:
                "200":
                    description: Success
    /blog/hire-virtual-receptionist-service-for-business:
        get:
            tags:
                - Blogs
            summary: GET /blog/hire-virtual-receptionist-service-for-business (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/hire-virtual-receptionist-service-for-business (inferred)
            responses:
                "200":
                    description: Success
    /blog/hiring-automation-developers-as-full-time-employees-for-your-transformation-strategy:
        get:
            tags:
                - Blogs
            summary: GET /blog/hiring-automation-developers-as-full-time-employees-for-your-transformation-strategy (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/hiring-automation-developers-as-full-time-employees-for-your-transformation-strategy (inferred)
            responses:
                "200":
                    description: Success
    /blog/how-data-management-services-can-improve-operational-efficiency:
        get:
            tags:
                - Blogs
            summary: GET /blog/how-data-management-services-can-improve-operational-efficiency (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/how-data-management-services-can-improve-operational-efficiency (inferred)
            responses:
                "200":
                    description: Success
    /blog/how-data-management-services-drive-business-success-with-streamlined-operation-and-compliance:
        get:
            tags:
                - Blogs
            summary: GET /blog/how-data-management-services-drive-business-success-with-streamlined-operation-and-compliance (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/how-data-management-services-drive-business-success-with-streamlined-operation-and-compliance (inferred)
            responses:
                "200":
                    description: Success
    /blog/how-do-recruiters-find-candidates:
        get:
            tags:
                - Blogs
            summary: GET /blog/how-do-recruiters-find-candidates (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/how-do-recruiters-find-candidates (inferred)
            responses:
                "200":
                    description: Success
    /blog/how-multi-unit-restaurant-businesses-can-turn-business-intelligence-into-business-profits:
        get:
            tags:
                - Blogs
            summary: GET /blog/how-multi-unit-restaurant-businesses-can-turn-business-intelligence-into-business-profits (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/how-multi-unit-restaurant-businesses-can-turn-business-intelligence-into-business-profits (inferred)
            responses:
                "200":
                    description: Success
    /blog/how-to-be-more-productive-at-work-with-a-virtual-assistant:
        get:
            tags:
                - Blogs
            summary: GET /blog/how-to-be-more-productive-at-work-with-a-virtual-assistant (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/how-to-be-more-productive-at-work-with-a-virtual-assistant (inferred)
            responses:
                "200":
                    description: Success
    /blog/how-to-hire-virtual-assistant:
        get:
            tags:
                - Blogs
            summary: GET /blog/how-to-hire-virtual-assistant (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/how-to-hire-virtual-assistant (inferred)
            responses:
                "200":
                    description: Success
    /blog/how-virtual-assistant-can-exponentially-grow-your-revenue:
        get:
            tags:
                - Blogs
            summary: GET /blog/how-virtual-assistant-can-exponentially-grow-your-revenue (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/how-virtual-assistant-can-exponentially-grow-your-revenue (inferred)
            responses:
                "200":
                    description: Success
    /blog/how-virtual-assistant-contribute-to-streamlined-business-operations:
        get:
            tags:
                - Blogs
            summary: GET /blog/how-virtual-assistant-contribute-to-streamlined-business-operations (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/how-virtual-assistant-contribute-to-streamlined-business-operations (inferred)
            responses:
                "200":
                    description: Success
    /blog/how-virtual-assistants-can-help-with-travel-management:
        get:
            tags:
                - Blogs
            summary: GET /blog/how-virtual-assistants-can-help-with-travel-management (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/how-virtual-assistants-can-help-with-travel-management (inferred)
            responses:
                "200":
                    description: Success
    /blog/how-web-research-services-can-streamline-senior-level-hiring:
        get:
            tags:
                - Blogs
            summary: GET /blog/how-web-research-services-can-streamline-senior-level-hiring (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/how-web-research-services-can-streamline-senior-level-hiring (inferred)
            responses:
                "200":
                    description: Success
    /blog/implementing-business-process-management-bpm-to-drive-operational-efficiency-fxj5r:
        get:
            tags:
                - Blogs
            summary: GET /blog/implementing-business-process-management-bpm-to-drive-operational-efficiency-fxj5r (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/implementing-business-process-management-bpm-to-drive-operational-efficiency-fxj5r (inferred)
            responses:
                "200":
                    description: Success
    /blog/implementing-business-process-management-to-drive-operational-efficiency:
        get:
            tags:
                - Blogs
            summary: GET /blog/implementing-business-process-management-to-drive-operational-efficiency (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/implementing-business-process-management-to-drive-operational-efficiency (inferred)
            responses:
                "200":
                    description: Success
    /blog/importance-of-agile-transformation-for-business-success:
        post:
            tags:
                - Blogs
                - file-upload
            summary: POST /blog/importance-of-agile-transformation-for-business-success (inferred)
            responses:
                "200":
                    description: Success
    /blog/increase-business-efficiency-with-virtual-assistant:
        get:
            tags:
                - Blogs
            summary: GET /blog/increase-business-efficiency-with-virtual-assistant (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/increase-business-efficiency-with-virtual-assistant (inferred)
            responses:
                "200":
                    description: Success
    /blog/leveraging-outsourced-recruitment-for-enhanced-strategy:
        get:
            tags:
                - Blogs
            summary: GET /blog/leveraging-outsourced-recruitment-for-enhanced-strategy (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/leveraging-outsourced-recruitment-for-enhanced-strategy (inferred)
            responses:
                "200":
                    description: Success
    /blog/mastering-recruitment-challenge:
        get:
            tags:
                - Blogs
            summary: GET /blog/mastering-recruitment-challenge (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/mastering-recruitment-challenge (inferred)
            responses:
                "200":
                    description: Success
    /blog/navigating-the-social-media-landscape-the-role-of-social-media-virtual-assistants:
        get:
            tags:
                - Blogs
            summary: GET /blog/navigating-the-social-media-landscape-the-role-of-social-media-virtual-assistants (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/navigating-the-social-media-landscape-the-role-of-social-media-virtual-assistants (inferred)
            responses:
                "200":
                    description: Success
    /blog/power-of-effective-organizational-design-in-business-transformation:
        get:
            tags:
                - Blogs
            summary: GET /blog/power-of-effective-organizational-design-in-business-transformation (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/power-of-effective-organizational-design-in-business-transformation (inferred)
            responses:
                "200":
                    description: Success
    /blog/role-of-data-integration-in-ai-solutions-success:
        get:
            tags:
                - Blogs
            summary: GET /blog/role-of-data-integration-in-ai-solutions-success (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/role-of-data-integration-in-ai-solutions-success (inferred)
            responses:
                "200":
                    description: Success
    /blog/sep-ira-contributions-capital-loss-harvesting:
        get:
            tags:
                - Blogs
            summary: GET /blog/sep-ira-contributions-capital-loss-harvesting (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/sep-ira-contributions-capital-loss-harvesting (inferred)
            responses:
                "200":
                    description: Success
    /blog/step-by-step-guide-for-smbs-to-select-the-right-processes-for-automation:
        get:
            tags:
                - Blogs
            summary: GET /blog/step-by-step-guide-for-smbs-to-select-the-right-processes-for-automation (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/step-by-step-guide-for-smbs-to-select-the-right-processes-for-automation (inferred)
            responses:
                "200":
                    description: Success
    /blog/strategies-for-automation-as-a-service-adoption-and-success:
        get:
            tags:
                - Blogs
            summary: GET /blog/strategies-for-automation-as-a-service-adoption-and-success (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/strategies-for-automation-as-a-service-adoption-and-success (inferred)
            responses:
                "200":
                    description: Success
    /blog/streamlining-operations-with-professional-back-office-support:
        get:
            tags:
                - Blogs
            summary: GET /blog/streamlining-operations-with-professional-back-office-support (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/streamlining-operations-with-professional-back-office-support (inferred)
            responses:
                "200":
                    description: Success
    /blog/the-anatomy-of-risk-advisory-in-a-data-driven-world:
        get:
            tags:
                - Blogs
            summary: GET /blog/the-anatomy-of-risk-advisory-in-a-data-driven-world (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/the-anatomy-of-risk-advisory-in-a-data-driven-world (inferred)
            responses:
                "200":
                    description: Success
    /blog/the-benefits-of-single-reporting-dashboard-for-restaurants-and-franchisees:
        get:
            tags:
                - Blogs
            summary: GET /blog/the-benefits-of-single-reporting-dashboard-for-restaurants-and-franchisees (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/the-benefits-of-single-reporting-dashboard-for-restaurants-and-franchisees (inferred)
            responses:
                "200":
                    description: Success
    /blog/the-future-of-ai-and-automation:
        get:
            tags:
                - Blogs
            summary: GET /blog/the-future-of-ai-and-automation (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/the-future-of-ai-and-automation (inferred)
            responses:
                "200":
                    description: Success
    /blog/the-impact-of-design-lean-process-and-automation-on-operational-excellence:
        get:
            tags:
                - Blogs
            summary: GET /blog/the-impact-of-design-lean-process-and-automation-on-operational-excellence (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/the-impact-of-design-lean-process-and-automation-on-operational-excellence (inferred)
            responses:
                "200":
                    description: Success
    /blog/the-power-of-dataflow-maps-in-digital-transformation:
        get:
            tags:
                - Blogs
            summary: GET /blog/the-power-of-dataflow-maps-in-digital-transformation (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/the-power-of-dataflow-maps-in-digital-transformation (inferred)
            responses:
                "200":
                    description: Success
    /blog/the-power-of-organized-data-a-cornerstone-for-your-business-success:
        get:
            tags:
                - Blogs
            summary: GET /blog/the-power-of-organized-data-a-cornerstone-for-your-business-success (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/the-power-of-organized-data-a-cornerstone-for-your-business-success (inferred)
            responses:
                "200":
                    description: Success
    /blog/the-power-of-viewing-metrics-from-different-source-systems-for-restaurants:
        get:
            tags:
                - Blogs
            summary: GET /blog/the-power-of-viewing-metrics-from-different-source-systems-for-restaurants (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/the-power-of-viewing-metrics-from-different-source-systems-for-restaurants (inferred)
            responses:
                "200":
                    description: Success
    /blog/time-is-money-freeing-up-resources-by-outsourcing-data-tasks:
        get:
            tags:
                - Blogs
            summary: GET /blog/time-is-money-freeing-up-resources-by-outsourcing-data-tasks (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/time-is-money-freeing-up-resources-by-outsourcing-data-tasks (inferred)
            responses:
                "200":
                    description: Success
    /blog/top-5-data-cleaning-techniques:
        get:
            tags:
                - Blogs
            summary: GET /blog/top-5-data-cleaning-techniques (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/top-5-data-cleaning-techniques (inferred)
            responses:
                "200":
                    description: Success
    /blog/top-10-considerations-for-a-reliable-dms-partner:
        get:
            tags:
                - Blogs
            summary: GET /blog/top-10-considerations-for-a-reliable-dms-partner (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/top-10-considerations-for-a-reliable-dms-partner (inferred)
            responses:
                "200":
                    description: Success
    /blog/travel-planning-virtual-assistant:
        get:
            tags:
                - Blogs
            summary: GET /blog/travel-planning-virtual-assistant (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/travel-planning-virtual-assistant (inferred)
            responses:
                "200":
                    description: Success
    /blog/types-of-virtual-assistants:
        get:
            tags:
                - Blogs
            summary: GET /blog/types-of-virtual-assistants (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/types-of-virtual-assistants (inferred)
            responses:
                "200":
                    description: Success
    /blog/unlocking-work-life-balance-top-time-saving-tips-for-small-business-owners:
        get:
            tags:
                - Blogs
            summary: GET /blog/unlocking-work-life-balance-top-time-saving-tips-for-small-business-owners (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/unlocking-work-life-balance-top-time-saving-tips-for-small-business-owners (inferred)
            responses:
                "200":
                    description: Success
    /blog/virtual-assistant-challenges-and-solutions:
        get:
            tags:
                - Blogs
            summary: GET /blog/virtual-assistant-challenges-and-solutions (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/virtual-assistant-challenges-and-solutions (inferred)
            responses:
                "200":
                    description: Success
    /blog/virtual-assistant-guide-anyone-can-follow:
        get:
            tags:
                - Blogs
            summary: GET /blog/virtual-assistant-guide-anyone-can-follow (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/virtual-assistant-guide-anyone-can-follow (inferred)
            responses:
                "200":
                    description: Success
    /blog/virtual-assistants-for-social-media-and-content-scheduling:
        get:
            tags:
                - Blogs
            summary: GET /blog/virtual-assistants-for-social-media-and-content-scheduling (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/virtual-assistants-for-social-media-and-content-scheduling (inferred)
            responses:
                "200":
                    description: Success
    /blog/virtual-assistants-tasks:
        get:
            tags:
                - Blogs
            summary: GET /blog/virtual-assistants-tasks (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/virtual-assistants-tasks (inferred)
            responses:
                "200":
                    description: Success
    /blog/what-is-av-engineering:
        get:
            tags:
                - Blogs
            summary: GET /blog/what-is-av-engineering (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/what-is-av-engineering (inferred)
            responses:
                "200":
                    description: Success
    /blog/what-is-data-cleaning:
        get:
            tags:
                - Blogs
            summary: GET /blog/what-is-data-cleaning (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/what-is-data-cleaning (inferred)
            responses:
                "200":
                    description: Success
    /blog/why-a-startup-business-must-hire-a-virtual-assistant:
        get:
            tags:
                - Blogs
            summary: GET /blog/why-a-startup-business-must-hire-a-virtual-assistant (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/why-a-startup-business-must-hire-a-virtual-assistant (inferred)
            responses:
                "200":
                    description: Success
    /blog/why-a-startup-business-must-hire-a-virtual-assistant-copyhow-to-hire-a-virtual-assistant---a-brief-guide:
        get:
            tags:
                - Blogs
            summary: GET /blog/why-a-startup-business-must-hire-a-virtual-assistant-copyhow-to-hire-a-virtual-assistant---a-brief-guide (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/why-a-startup-business-must-hire-a-virtual-assistant-copyhow-to-hire-a-virtual-assistant---a-brief-guide (inferred)
            responses:
                "200":
                    description: Success
    /blog/why-data-driven-transformation-is-the-key-to-business-growth:
        get:
            tags:
                - Blogs
            summary: GET /blog/why-data-driven-transformation-is-the-key-to-business-growth (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/why-data-driven-transformation-is-the-key-to-business-growth (inferred)
            responses:
                "200":
                    description: Success
    /blog/why-hire-virtual-assistant:
        get:
            tags:
                - Blogs
            summary: GET /blog/why-hire-virtual-assistant (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blogs
            summary: POST /blog/why-hire-virtual-assistant (inferred)
            responses:
                "200":
                    description: Success
    /blur.mask:
        get:
            tags:
                - Blur.Masks
            summary: GET /blur.mask (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blur.Masks
            summary: POST /blur.mask (inferred)
            responses:
                "200":
                    description: Success
    /blur.validate-equalTo:
        get:
            tags:
                - Blur.Validate-EqualTos
            summary: GET /blur.validate-equalTo (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Blur.Validate-EqualTos
            summary: POST /blur.validate-equalTo (inferred)
            responses:
                "200":
                    description: Success
    /building-a-resilient-business-lessons-from-crisis-management-consulting/:
        get:
            tags:
                - Building-A-Resilient-Business-Lessons-From-Crisis-Management-Consultings
            summary: GET /building-a-resilient-business-lessons-from-crisis-management-consulting/ (inferred)
            parameters:
                - name: hss_channel
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_content
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_medium
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_source
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_campaign
                  in: query
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Building-A-Resilient-Business-Lessons-From-Crisis-Management-Consultings
            summary: POST /building-a-resilient-business-lessons-from-crisis-management-consulting/ (inferred)
            parameters:
                - name: hss_channel
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_content
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_medium
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_source
                  in: query
                  required: false
                  schema:
                    type: string
                - name: utm_campaign
                  in: query
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
    /business-support-services/:
        get:
            tags:
                - Business-Support-Services
            summary: GET /business-support-services/ (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Business-Support-Services
            summary: POST /business-support-services/ (inferred)
            responses:
                "200":
                    description: Success
    /business-transformation/:
        get:
            tags:
                - Business-Transformations
            summary: GET /business-transformation/ (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Business-Transformations
            summary: POST /business-transformation/ (inferred)
            responses:
                "200":
                    description: Success
    /business-transformation/automation-services/:
        get:
            tags:
                - Business-Transformations
            summary: GET /business-transformation/automation-services/ (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Business-Transformations
            summary: POST /business-transformation/automation-services/ (inferred)
            responses:
                "200":
                    description: Success
    /business-transformation/operational-consulting/:
        get:
            tags:
                - Business-Transformations
            summary: GET /business-transformation/operational-consulting/ (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Business-Transformations
            summary: POST /business-transformation/operational-consulting/ (inferred)
            responses:
                "200":
                    description: Success
    /business-transformation/strategic-business-consulting/:
        get:
            tags:
                - Business-Transformations
            summary: GET /business-transformation/strategic-business-consulting/ (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Business-Transformations
            summary: POST /business-transformation/strategic-business-consulting/ (inferred)
            responses:
                "200":
                    description: Success
    /calendar-management-services-with-virtual-assistant/:
        get:
            tags:
                - Calendar-Management-Services-With-Virtual-Assistants
            summary: GET /calendar-management-services-with-virtual-assistant/ (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Calendar-Management-Services-With-Virtual-Assistants
            summary: POST /calendar-management-services-with-virtual-assistant/ (inferred)
            responses:
                "200":
                    description: Success
    /careers/:
        get:
            tags:
                - Careers
            summary: GET /careers/ (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Careers
            summary: POST /careers/ (inferred)
            responses:
                "200":
                    description: Success
    /careers_post/{careers_postId}:
        delete:
            tags:
                - Careers_posts
            summary: DELETE /careers_post/{careers_postId} (inferred)
            parameters:
                - name: careers_postId
                  in: path
                  required: true
                  schema:
                    type: integer
            responses:
                "200":
                    description: Success
        get:
            tags:
                - Careers_posts
            summary: GET /careers_post/{careers_postId} (inferred)
            parameters:
                - name: careers_postId
                  in: path
                  required: true
                  schema:
                    type: integer
            responses:
                "200":
                    description: Success
        patch:
            tags:
                - Careers_posts
            summary: PATCH /careers_post/{careers_postId} (inferred)
            parameters:
                - name: careers_postId
                  in: path
                  required: true
                  schema:
                    type: integer
            responses:
                "200":
                    description: Success
        put:
            tags:
                - Careers_posts
            summary: PUT /careers_post/{careers_postId} (inferred)
            parameters:
                - name: careers_postId
                  in: path
                  required: true
                  schema:
                    type: integer
            responses:
                "200":
                    description: Success
    /careers_post/ar-callers-medical-billing-2/:
        get:
            tags:
                - Careers_posts
            summary: GET /careers_post/ar-callers-medical-billing-2/ (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Careers_posts
            summary: POST /careers_post/ar-callers-medical-billing-2/ (inferred)
            responses:
                "200":
                    description: Success
    /careers_post/ar-callers-medical-billing/:
        get:
            tags:
                - Careers_posts
            summary: GET /careers_post/ar-callers-medical-billing/ (inferred)
            responses:
                "200":
                    description: Success
        post:
            tags:
                - Careers_posts
            summary: POST /careers_post/ar-callers-medical-billing/ (inferred)
            responses:
                "200":
[...]
